{% extends 'base.html.twig' %}

{% block title %}Lista de Incidencias{% endblock %}

{% block body %}
    <h1>Lista de Incidencias</h1>

    {% if incidencias is empty %}
        <p>No hay incidencias registradas.</p>
    {% else %}
        <ul>
            {% for incidencia in incidencias %}
                <li>
                    {{ incidencia.titulo }} - {{ incidencia.fechaCreacion|date('d/m/Y H:i') }}
                    <a href="{{ path('app_incidencia_show', {'id': incidencia.id}) }}">Ver Detalles</a>
                    <a href="{{ path('app_incidencia_edit', {'id': incidencia.id}) }}">Editar</a>
                    <a href="{{ path('app_incidencia_delete', {'id': incidencia.id}) }}">Eliminar</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <a href="{{ path('app_incidencia_new') }}">Crear Nueva Incidencia</a>
{% endblock %}
